
@use "material-components-web/material-components-web";
$material-icons-font-path: '~material-icons/iconfont/';
 
@import '~material-icons/iconfont/material-icons.scss';

$bg-color: white;

body {
 background: $bg-color;
}